{
  "extends": "stylelint-config-standard",
  "rules": {},
  "ignoreFiles": [
    "node_modules/**/*",
    "public/**/*",
    "dist/**/*",
    "**/*.js",
    "**/*.jsx",
    "**/*.tsx",
    "**/*.ts"
  ]
}
